
  #titulo1{
    font-style: italic; 
    text-align: center;
    color:black;
 
  }

#titleb,#title2{
    text-align: left;
    color:darkred;
 font-weight: bold;
}

  #datos{
    float: right;
    text-align: center;
    border-color:black;
    border-width:1px;
    border-style: solid;
  
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
}
  pre{
    text-align: justify;
  }

  strong,li{
    color:darkred;
  }

  #titleb{
    text-align: center;
  }
